cv.runeclausen.dk {
  reverse_proxy portfolio:8043
}

portfolio.runeclausen.dk {
  reverse_proxy portfolio:8043
}

fremad.runeclausen.dk {
  reverse_proxy fremad:8043
}

fremadapi.runeclausen.dk {
    reverse_proxy fremadapi:8043
}